# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
*.log
epluslog.txt

# Database files
*.db
*.sqlite3

# Large data files
*.parquet
*.csv
*.dat

# Model files
*.h5
*.pkl
*.pt
*.pth

# MAC DS_store
**/.DS_Store

# Large env files
**/eplusout.sql
**/eplusout.eso
**/eplusout.edd

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Mypy cache
.mypy_cache/
